<html>
    <head>
        <title>Beau Simensen</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
        <script src="{{ site.url }}/components/modernizr/modernizr.js"></script>
        <link href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="background"><!-- hack for mobile safari --></div>
        <header class="site">
            <figure>
                <img src="{{ site.url }}/assets/city.jpg">
            </figure>
            <h1>Beau Simensen</h1>
            <p>A proponent for framework agnostic code. Unbundle all the things!</p>
            <ul>
                <li><a href="https://twitter.com/beausimensen"><i class="icon icon-twitter"></i> @beausimensen</a></li>
                <li><a href="https://github.com/simensen"><i class="icon icon-github"></i> simensen</a></li>
                <li><a href="http://srcmvn.com"><i class="icon icon-edit"></i> srcmvn.com</a></li>
            </ul>
        </header>
        <section class="content">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        <footer>
        </footer>
        {% if site.google_analytics_tracking_id is defined and site.google_analytics_tracking_domain is defined %}
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', '{{ site.google_analytics_tracking_id }}', '{{ site.google_analytics_tracking_domain }}');
              ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
